@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
    background: url("images/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
#main-heading{
    font-size: 5rem;
    margin-top: 2%;
    font-weight: bolder;
}
.container{
    display: flex;
    text-align: center;
    margin: 5%;
}
.big-text{
    font-size: 6rem;
    margin: 0 5rem;
    font-weight: bold;
}
